// 溢出隐藏省略号
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 弹性布局水平垂直居中
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
