// 左侧菜单的宽度
$layout_silder_width: 260px;
$collapsed_width: 64px; // 折叠状态下的宽度
//左侧菜单的背景颜色
$layout_silder_bg_color: #1e97e3d7;

// 顶部导航的高度
$layout_tabbar_height: 60px;
// 顶部导航的背景颜色
$layout_tabbar_bg_color: rgb(234, 222, 55);

// 内容区域的背景颜色
$layout_main_bg_color: #f5f5f5;
